.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 20rem;
  gap: 2rem;
  place-content: center;
}

.card,
.hero-card {
  display: grid;
  grid-template-areas: "image" "description";
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease;

  &:hover {
    transform: scale(1.025);
  }

  &::after,
  .img-bg {
    grid-area: 1/1/3/2;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";
    background-image: var(--bg-gradient);
  }

  .img-bg {
    object-fit: cover;
    filter: blur(0.25rem) brightness(0.25);
    transform: scale(1.1);
    z-index: -1;
  }

  .cover-container {
    grid-area: image;
    width: 100%;
    height: 90%;
    transform: scale(0.9);
    overflow: hidden;
    border-radius: 1rem;

    .cover {
      object-fit: cover;
      object-position: top center;
      width: 100%;
      height: 100%;
    }
  }

  .description {
    grid-row: description;
    position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .title {
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-weight: 900;
      letter-spacing: 0.1rem;
    }
  }

  .platform {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      text-align: center;
    }

    .sale {
      font-size: 1.25rem;
      font-weight: 700;
    }

    .normal-price {
      text-decoration: line-through;
    }
  }
}
