.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 20rem;
  gap: 2rem;
  place-content: center;
}

.card,
.hero-card {
  display: grid;
  grid-template-areas: "image" "description";
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease;

  &:hover {
    transform: scale(1.025);

    .cover-container .cover {
      transform: scale(1.5);
    }
  }

  &::before,
  .img-bg {
    grid-area: 1/1/3/2;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    background-image: var(--bg-card);
  }

  &::after {
    content: "GIVEAWAY";
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: var(--bg-button);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0 1rem;
    border-radius: 1rem;
    display: none;
  }

  .img-bg {
    object-fit: cover;
    filter: blur(0.25rem) brightness(0.25);
    transform: scale(1.1);
    z-index: -1;
  }

  .cover-container {
    grid-area: image;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      box-shadow: inset 0 0 2rem black;
      pointer-events: none;
    }

    .cover {
      object-fit: contain;
      width: 100%;
      height: 100%;
      filter: drop-shadow(0 0 2rem black);
      transition: transform 1s ease;
    }
  }

  .description {
    grid-row: description;
    position: absolute;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 -1rem 2rem 0.5rem rgba(0, 0, 0, 0.5);

    .title {
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-weight: 100;
      letter-spacing: 0.1rem;
    }
  }

  .platform {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      text-align: center;
    }

    .sale {
      font-size: 1.25rem;
      font-weight: 700;
    }

    .normal-price {
      text-decoration: line-through;
    }
  }
}
