.list-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.list-filter {
  display: flex;
  gap: 1rem;
  margin-left: auto;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;
    padding: 0.25rem 1rem;
    font-size: 1rem;
  }
  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .sort-panel,
  .filter-panel {
    display: none;
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 2;
    background: var(--bg-button);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(0.5rem);
    max-height: 35rem;
    overflow-y: auto;

    h3 {
      grid-column: 1/3;
    }

    .sort-div,
    .filter-div {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      gap: 2rem;
    }

    button {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%;
      border: 0.25rem solid transparent;
      overflow: hidden;
      background-origin: border-box;
      background-clip: border-box;

      &.is-active {
        border: 0.25rem solid var(--text-color);
      }
    }

    &.is-active {
      display: block;
    }
  }
}

button[data-sort="reset"],
button[data-filter="reset"] {
  margin-top: 3rem;
}
