#hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40rem;
  gap: 1rem;
}

#hero .hero-card {
  grid-template-rows: 2fr 1fr;
  cursor: default;

  &:hover {
    transform: none;
  }

  .title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .cover-container {
    height: 100%;
  }

  & button:hover span.dice {
    display: inline-block;
    animation: shuffle 0.5s ease;
  }

  .sale {
    font-size: 3rem;
  }

  .normal-price {
    font-size: 1.5rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a,
    button {
      text-align: center;
      width: 100%;
    }
  }
}

#favorites {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  position: relative;

  a {
    transition: color 0.25s ease;

    &:hover {
      color: var(--accent-color);
    }
  }

  .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

#fav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  .card-list {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 1rem;

    img {
      object-fit: cover;
      border-radius: 1rem;
    }

    p {
      max-width: 10rem;
    }
  }

  .no-fav {
    text-align: center;
    max-width: 15rem;
    margin: 2rem auto;
  }
}

/* ANIMATIONS */
@keyframes shuffle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(-45deg);
  }

  40%,
  80% {
    transform: rotate(45deg);
  }
}
