#hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40rem;
  gap: 1rem;
}

#hero .hero-card {
  grid-template-rows: 2fr 1fr;
  cursor: default;

  &:hover {
    transform: none;
  }

  .cover-container {
    height: 100%;
    transform: scale(0.95);
  }
}

#favorites {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  border-radius: 1rem;

  #fav-list {
    margin-top: 1rem;
    display: grid;
    place-content: center;
    text-align: center;
  }

  a {
    color: var(--button-color);
    transition: color 0.25s ease;

    &:hover {
      color: var(--accent-color);
    }
  }
}
