<button class="favorite-btn" aria-label="Favorite"></button>
<img src="{{img-bg}}" class="img-bg" alt="{{title}} background" />
<div class="cover-container">
  <img src="{{cover}}" class="cover" alt="{{title}} cover" />
</div>
<div class="description">
  <h4 class="title">{{title}}</h4>
  <div class="details">
    <img
      src="{{platform}}"
      alt="{{store-name}}"
      width="30"
      title="{{store-name}}"
      loading="lazy"
    />
    <div class="price">
      <p class="sale">{{sale}}</p>
      <p class="normal-price">{{price}}</p>
    </div>
  </div>
</div>
