<button class="close-btn">✕</button>
<img src="{{img-bg}}" class="img-bg" alt="{{title}} background" />
<div class="cover-container">
  <img src="{{cover}}" class="cover" alt="{{title}} cover" />
</div>
<div class="description">
  <div class="modal-title">
    <h4 class="title">{{title}}</h4>
    <p class="release-date">Release date: {{releaseDate}}</p>
    <p class="end-date">Promotion ending on: {{endDate}}</p>
  </div>
  <div class="details">
    <div class="instructions">
      <h4>INSTRUCTIONS</h4>
      <p>{{instructions}}</p>
    </div>
    <div class="buy-section">
      <div class="store-price-box">
        <div class="price-box">
          <img src="{{platform}}" alt="{{platform}}" width="100" />
          <div class="price">
            <p class="sale">FREE</p>
            <p class="normal-price">{{price}}</p>
          </div>
        </div>
        <p>{{storeName}}</p>
      </div>
      <a href="{{storePage}}" target="_blank" rel="noopener">GET GIVEAWAY</a>
    </div>
  </div>
</div>
