<h3>Sort By</h3>
<div class="sort-div">
  <button data-sort="Title">Title</button>
  <button data-sort="DealRating">Deal Value</button>
  <button data-sort="Savings">Savings</button>
  <button data-sort="Price">Price</button>
  <button data-sort="Metacritic">Metacritic</button>
  <button data-sort="Reviews">Reviews</button>
  <button data-sort="ReviewCount">Review Count</button>
  <button data-sort="Release">Release Date</button>
  <button data-sort="Recent">New Deals</button>
</div>
<button data-sort="reset">RESET ALL</button>
