/* Fonts */

@font-face {
  font-family: "Orbitron";
  src:
    url("/assets/fonts/Orbitron-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("/assets/fonts/Orbitron-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src:
    url("/assets/fonts/Exo2-VariableFont_wght.woff2") format("woff2-variations"),
    url("/assets/fonts/Exo2-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src:
    url("/assets/fonts/Exo2-Italic-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("/assets/fonts/Exo2-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Variables */

:root {
  --bg-color: #050505;
  --accent-color: #bc13fe;
  --button-color: #ff003c;
  --secondary-bg-color: #121212;
  --text-color: #e0e0e0;
  --bg-gradient:
    radial-gradient(
      circle at top left,
      var(--accent-color) 0%,
      transparent 90%
    ),
    radial-gradient(
      circle at bottom right,
      var(--button-color) 0%,
      transparent 90%
    );
}

/* Styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: "Exo 2", sans-serif;
  color: var(--text-color);
  padding: 1rem;
  display: grid;
}

section {
  margin: 2rem 0;
}

header {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-bg-color);

  input {
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    border: none;
    background-color: var(--text-color);
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: var(--accent-color);
  }
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.75rem;
}
