@media (max-width: 50rem) {
  header {
    justify-content: center;
    gap: 1rem;

    nav {
      margin: auto;
    }

    #search.is-active {
      transform: scale(1.5);
    }
  }

  #hero-section {
    display: flex;
    flex-direction: column;
  }

  #hero .hero-card {
    grid-template-rows: minmax(20rem, 2fr) auto;

    .description {
      grid-template-rows: 1fr 2fr;
      .details {
        flex-direction: column;

        img {
          margin: 1rem;
        }
      }
    }
  }

  section h2 {
    text-align: center;
  }

  .card {
    max-width: 90vw;
  }

  #favorites .more {
    position: initial;
  }

  .list-header {
    flex-direction: column;

    .list-filter {
      margin: 1rem auto 0;

      .sort-panel,
      .filter-panel {
        top: 4rem;
        left: 0;
      }
    }
  }

  dialog.modal {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 0;

    .img-bg {
      transform: scale(1);
      backdrop-filter: blur(1rem);
    }

    &::backdrop {
      height: 100%;
    }

    .favorite-btn,
    .close-btn {
      position: fixed;
    }

    .cover-container {
      min-height: 30vh;

      &::after {
        display: none;
      }
    }

    .description {
      padding: 0;
      width: 100%;
      gap: 1rem;
      padding: 1rem;

      .modal-title {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 2rem;
        }
      }

      .rating {
        flex-direction: column;
        align-items: flex-start;

        .rate-box {
          margin: auto;
        }
      }
    }

    .buy-section {
      flex-direction: column;
    }
  }
}
