/* Fonts */

@font-face {
  font-family: "Orbitron";
  src:
    url("/assets/fonts/Orbitron-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("/assets/fonts/Orbitron-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src:
    url("/assets/fonts/Exo2-VariableFont_wght.woff2") format("woff2-variations"),
    url("/assets/fonts/Exo2-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src:
    url("/assets/fonts/Exo2-Italic-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("/assets/fonts/Exo2-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Variables */

:root {
  --bg-color: #050505;
  --accent-color: #bc13fe;
  --button-color: #ff003c;
  --secondary-bg-color: #121212;
  --text-color: #e0e0e0;
  --bg-card:
    radial-gradient(
      circle at bottom left,
      var(--accent-color) -90%,
      transparent 90%
    ),
    radial-gradient(
      circle at bottom right,
      var(--button-color) -90%,
      transparent 90%
    );
  --bg-button:
    radial-gradient(
      circle at bottom left,
      var(--accent-color) 0%,
      transparent 90%
    ),
    radial-gradient(
      circle at bottom right,
      var(--button-color) 0%,
      transparent 90%
    );
}

/* Styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: var(--bg-color);
  background-image:
    radial-gradient(
      circle at 0% 0%,
      rgba(188, 19, 254, 0.15) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(255, 0, 60, 0.15) 0%,
      transparent 40%
    );
  background-repeat: no-repeat;
  font-family: "Exo 2", sans-serif;
  color: var(--text-color);
  padding: 1rem;
  max-width: 80rem;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

section {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
}

header {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--secondary-bg-color);
  max-height: 3rem;

  input {
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    border: none;
    background-color: var(--text-color);
  }
}

a {
  color: var(--button-color);
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: var(--accent-color);
  }
}

button,
dialog a,
#hero a {
  border: none;
  background: var(--bg-button);
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: var(--text-color);
  transition: transform 0.5s ease;
  cursor: pointer;
  outline: none;

  &:hover {
    transform: scale(1.1);
    color: var(--text-color);
  }
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.75rem;
  text-align: center;
  margin-top: auto;
}

.favorite-btn,
.close-btn {
  background: rgba(0, 0, 0, 0.75);
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 1;
  top: 1rem;
  font-weight: 100;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-btn {
  left: 1rem;
  background-image: url("/images/star.svg");

  &.is-active {
    background-image: url("/images/star-fill.svg");
  }
}

.close-btn {
  right: 1rem;
}

nav {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  gap: 1rem;

  a {
    color: var(--text-color);

    &.is-active {
      color: var(--accent-color);
    }
  }
}

.empty-message {
  text-align: center;
  grid-column: 1/5;
  font-size: 2rem;
}

.more {
  text-align: right;
}

.is-loading::before {
  content: "Loading games...";
  position: fixed;
  inset: 0;
  top: -10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 5rem;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 2rem;
  backdrop-filter: blur(0.25rem);
}

.is-loading::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-image: url("/favicon.svg");
  background-size: 4rem;
  background-position: center;
  animation: rotation 2.5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
